*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin:2rem auto;
    display:grid;
    grid-template-columns: repeat(7, 1fr);

}
/* - - LEFT SECTION - - */
.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: rgb(61, 16, 210);
    border-radius: 60px 0px 0px 60px;
    justify-content: center;
}

.profile {
    width: 100%;
    border-bottom: 1mm ridge hsla(240, 60%, 56%, 0.6);
    }


.profile .profile-image {
    width: 100%;
    border-radius: 100%;
}
.left-section-contents{
    padding: 2rem 2rem;
}
.name {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profession {
    color: #eeeeee;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.left-title {
    color: #eeeeee;
    font-size: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contact-info { 
    border-bottom: 1mm ridge hsla(240, 60%, 56%, 0.6);
    font-size: 15px;
    
}


.contact-info ul {
    padding-top: 1rem;
}

.contact-info ul li,
.references ul li {
    padding: 0.4rem 0;
    color: #eeeeee;
}

.contact-info ul li i,
.references ul li i {
    padding-right: 1rem;
    font-size: 18px;
    color: #eeeeee;
}
.skills ul {
    padding-top: 1.5rem;
}
.skills ul li p {
    padding: .4rem 0;
    color: #eeeeee;
}
/* - - RIGHT SECTION - - */

.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: #eeeeee;
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents {
    font-size: 18px;
    color: #eeeeee;
}








.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: black;
    border-radius: 0px 60px 60px 00px;
}
